/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #32cd32;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  background-color:white;
}

.tabcontentmain{
  display: block;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  background-color:white;
}


body{
	font-family:Arial;
	background-color:grey;
}

.main{
	position:absolute;
	left:25%;
	width:46%;
	background-color:white;
}

.footer{
	float: bottom;
	padding: 10px;
}

img{
	width: 160px;
	height: 90px;
}

h1{
	padding: 10px;
}

.category{
	display: none;
}